button {
    border-radius: 40px;

    background-color: #D97652;
    border-color: #D97652;

    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;

    cursor: pointer;
}

.button-download, .button-show, .button-subscribe, .button-love {
    width: 140px;
    height: 50px;
}

/* 위로가기 버튼 부분 */
#botton-up {
    position: fixed;
    top: 90%;
    left: 95%;
    width: 40px;
    height: 40px;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFF;
    border: 5px solid #D3D3D3;
    cursor: default;
}