<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="HODU-mainPage.css">
    <title>HODU</title>
</head>
<body>
<header class="header">
    <nav>
        <img src="../assets/images/Logo-fin.svg" alt="fin logo">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Support</a></li>
        </ul>
        <button>Download</button>
    </nav>
    <article>
        <h1>Lorem Ipsum is simply
            dummy text of the printing and
        </h1>
        <p>Lorem Ipsum is simply dummy text of the printing and
            typesetting industry.<br>
            Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an
        </p>
        <button>Download</button>
    </article>
    <img src="../assets/images/img_cat_header.png" alt="cat image">
</header>

<main>

</main>

<footer>
    <img src="../assets/images/img_cat_footer.png" alt="cat image">
    <nav>
        <img src="../assets/images/Logo-fin.svg" alt="fin logo">
        <ul>
            <li><button><img src="../assets/images/blog.png" alt="blog logo"></button></li>
            <li><button><img src="../assets/images/instagram.png" alt="instagram logo"></button></li>
            <li><button><img src="../assets/images/facebook.png" alt="facebook logo"></button></li>
            <li><button><img src="../assets/images/youtube.png" alt="youtube logo"></button></li>
        </ul>
    </nav>
</footer>
</body>
</html>