@charset "utf-8";
@import "../assets/fonts/fonts.css";

/* 공통 부분 */
html,body{
    width: 100%;
    height: 100%;
}

body *{
    font-family: 'Pretendard-Regular';
}

.wrapper{
    width: 75%;
    height: 100%;
    flex-direction: column;
}

button{
    border-radius: 40px;

    background-color: #D97652;
    border-color: #D97652;

    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

/* header 부분 */
header{
    background-color: #F2E9D8;

    display: flex;
    justify-content: center;
}

header .wrapper{
    margin-top: 30px;
}

/* header - nav 부분 */

.nav-header{
    display: flex;
    justify-content: space-between;
}

.ul-header{
    display: flex;
    justify-content: space-around;

    list-style: none;
    align-items: center;
    gap: 30px;
}

.ul-header li a{
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.button-download{
    width: 140px;
    height: 50px;
}

/* header - intro 부분 */
.intro {
    display: flex;
    justify-content: space-between;
}

.intro_saying{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro_saying h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

.intro_saying p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}

/* main 부분 */

.img-bottom{
    width: 100%;
    height: 340px;
    object-fit: cover;
}

/* footer 부분 */
footer{
    display: flex;
    justify-content: center;
}

footer .wrapper{
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav-footer{
    display: flex;
    justify-content: space-between;
}

.ul-footer{
    display: flex;
    justify-content: space-around;

    gap: 10px;
    align-items: center;
    list-style: none;
}