<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/images/favicon.ico">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="HODU-mainPage.css">
    <title>HODU</title>
</head>
<body>
<header class="header">
    <nav>
        <img src="../assets/images/Logo-fin.svg" alt="fin logo">
        <ul class="ul-header">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Support</a></li>
            <button class="button-download">Download</button>
        </ul>
    </nav>
    <div class = div-header>
        <article>
            <h1>Lorem Ipsum is simply<br>
                dummy text of the printing and
            </h1>
            <p>
                Lorem Ipsum is simply dummy text of the printing and<br>
                typesetting industry.<br>
                Lorem Ipsum has been the industry's standard dummy text<br>
                ever since the 1500s, when an unknown
            </p>
            <button class="button-download">Download</button>
        </article>
        <img src="../assets/images/img_cat_header.png" alt="cat image">
    </div>
</header>

<main>

</main>

<footer>
    <img class="catImage-footer" src="../assets/images/img_cat_footer.png" alt="cat image">
    <nav>
        <img src="../assets/images/Logo-fin.svg" alt="fin logo">
        <ul class="ul-footer">
            <li><button><img src="../assets/images/blog.png" alt="blog logo"></button></li>
            <li><button><img src="../assets/images/instagram.png" alt="instagram logo"></button></li>
            <li><button><img src="../assets/images/facebook.png" alt="facebook logo"></button></li>
            <li><button><img src="../assets/images/youtube.png" alt="youtube logo"></button></li>
        </ul>
    </nav>
</footer>
</body>
</html>