<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/images/img_cat_modal.png">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/map.css">
    <link rel="stylesheet" href="css/form.css">
    <title>♡WE LOVE HODU♡</title>
</head>
<body>
<header>
    <div class="wrapper">
        <nav class="nav-header">
            <button type="button" class="btn-header-logo">
                <img src="../assets/images/Logo-fin.svg" alt="fin logo">
            </button>
            <ul class="ul-header">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Support</a></li>
                <button class="btn-download">Download</button>
            </ul>
        </nav>
        <div class="intro-header">
            <article class="intro-header-saying">
                <h1>
                    Lorem Ipsum is simply<br>
                    dummy text of the printing and
                </h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and<br>
                    typesetting industry.<br>
                    Lorem Ipsum has been the industry's standard dummy text<br>
                    ever since the 1500s, when an unknown
                </p>
                <button class="btn-download">Download</button>
            </article>
            <img src="../assets/images/img_cat_header.png" alt="cat in box">
        </div>
    </div>
</header>

<main>
    <div class="wrapper">
        <section class="intro-main">
            <img src="../assets/images/img_cat_4.png" alt="cat img">
            <article>
                <h3>
                    Lorem Ipsum is simply<br>
                    dummy text of the printing<br>
                    and dummy text
                </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting <br> industry. </p>
            </article>
        </section>

        <section class="main-photos">
            <h2>dummy text of the printing and dummy</h2>
            <p>
                Lorem Ipsum is simply <strong>dummy text</strong> of the printing and typesetting industry. <br>
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            </p>
            <ul class="list-photos">
                <li>
                    <button class="btn-img"><img src="../assets/images/photo_list/photo_list_1.png"></button>
                </li>
                <li>
                    <button class="btn-img"><img src="../assets/images/photo_list/photo_list_2.png"></button>
                </li>
                <li>
                    <button class="btn-img"><img src="../assets/images/photo_list/photo_list_3.png"></button>
                </li>
                <li>
                    <button class="btn-img"><img src="../assets/images/photo_list/photo_list_4.png"></button>
                </li>
                <li>
                    <button class="btn-img"><img src="../assets/images/photo_list/photo_list_5.png"></button>
                </li>
                <li>
                    <button class="btn-img"><img src="../assets/images/photo_list/photo_list_6.png"></button>
                </li>
            </ul>
            <h3>Continue exploring HODU</h3>
            <button class="btn-show">Show more</button>
        </section>

        <button id="btn-img-expan"><img src="../assets/images/photo_list/photo_list_1.png"></button>

        <hr>

        <section class="map-main">
            <h2>
                Where you'll be
            </h2>
            <p>
                330, Cheomdan-ro, Jeju-si, Jeju-do, Republic of Korea
            </p>
            <div class="map_wrap">
                <div id="kakaomap"></div>
                <!-- 지도타입 컨트롤 div 입니다 -->
                <div class="custom_typecontrol radius_border">
                    <span id="btnRoadmap" class="selected_btn" onclick="setMapType('roadmap')">지도</span>
                    <span id="btnSkyview" class="btn" onclick="setMapType('skyview')">스카이뷰</span>
                </div>
                <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
                <div class="custom_zoomcontrol radius_border">
                    <span onclick="zoomIn()"><img
                            src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png" alt="확대"></span>
                    <span onclick="zoomOut()"><img
                            src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png"
                            alt="축소"></span>
                </div>
            </div>
        </section>

        <form class="subscribe-main" id="sub-form" method="post" enctype="multipart/form-data">
            <article class="intro-subscribe">
                <h3>
                    Subscribe to our Blog post
                </h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
                    Lorem Ipsum has been the industry's standard dummy text
                </p>
            </article>
            <fieldset>
                <label class="email-label" for="user-email">
                    <img src="../assets/images/mail.svg">
                    <input type="email" id="user-email" placeholder="Enter your e-mail address" required>
                </label>
                <button type="submit" class="btn-subscribe">Subscribe</button>
            </fieldset>
        </form>
    </div>
</main>

<section id="modal">
    <div class="modal-wrapper">
        <div class="HODU_img">
            <img src="../assets/images/img_cat_modal.png" alt="HODU">
        </div>
        <article class="thank-modal">
            <h3>Thank you!!</h3>
            <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
            <button class="btn-love">OK! I Love HODU</button>
        </article>
    </div>
</section>

<button id="btn-up"><img id="img-up" src="../assets/images/arrow_cant_up.svg"></button>

<img class="img-bottom" src="../assets/images/img_cat_footer.png" alt="cat image">

<footer>
    <div class="wrapper">
        <nav class="nav-footer">
            <button type="button" class="btn-footer-logo">
                <img src="../assets/images/Logo-fin.svg" alt="fin logo">
            </button>
            <ul class="ul-footer">
                <li>
                    <button class="btn-sns"><img src="../assets/images/blog.png" alt="blog logo"></button>
                </li>
                <li>
                    <button class="btn-sns"><img src="../assets/images/instagram.png" alt="instagram logo"></button>
                </li>
                <li>
                    <button class="btn-sns"><img src="../assets/images/facebook.png" alt="facebook logo"></button>
                </li>
                <li>
                    <button class="btn-sns"><img src="../assets/images/youtube.png" alt="youtube logo"></button>
                </li>
            </ul>
        </nav>
    </div>
</footer>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=eed1d3ac4cbb48529d62de40b17dfe74"></script>
<script type="text/javascript" src="../js/makemap.js"></script>
<script type="text/javascript" src="../js/img-load.js"></script>
<script type="text/javascript" src="../js/btn-script.js"></script>

</body>
</html>